@{
    ViewBag.Title = "Orders";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <h4>Create or Maintain an Order.</h4>
        @Html.ActionLink("Create Order", "Create", "Order", routeValues: null, htmlAttributes: new { id = "createOrderLink", @class = "btn btn-default" })
        @Html.ActionLink("Maintain Order", "Create", "Order", routeValues: null, htmlAttributes: new { id = "maintainOrderLink", @class = "btn btn-default disabled" })
    </div>
    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}