<div id="successPanel" class="panel-success alert-success hidden" style="height: 40px; margin: 5px">
    <p id="successPanelText" style="padding:10px"></p>
</div>
<div id ="infoPanel" class="panel-info alert-info hidden" style="height: 40px; margin: 5px">
    <p id="infoPanelText" style="padding:10px"></p>
</div>
<div id="alertPanel" class="panel-alert alert-warning hidden" style="height: 40px; margin: 5px">
    <p id="alertPanelText" style="padding:10px"></p>
</div>
<div id="dangerPanel" class="alert-danger hidden" style="height: 40px; margin: 5px">
    <p id="dangerPanelText" style="padding:10px"></p>
</div>
