@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Order Entry is an extension of an enterprise distribution application that allows users to do simple order entry without the overhead of an entire enterprise application.</p>
