@model IEnumerable<OrderEntry.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Order Home</h2>
<hr/>

<p>
    @Html.ActionLink("Create New Order", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Maintain Orders", "Maintain", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
</p>

